<div class="sidebar">
  <div class="logo">
    <img src="/assets/images/logo.png" alt="logo" />
  </div>
  <div class="links">
    <ul>
      <li>
        <a routerLink="dashboard"><i class="pi pi-home"></i> Dashboard</a>
      </li>
      <li>
        <a routerLink="products"><i class="pi pi-briefcase"></i> Product</a>
      </li>
      <li>
        <a routerLink="category"><i class="pi pi-list"></i> Category</a>
      </li>
      <li>
        <a routerLink="order"><i class="pi pi-shopping-cart"></i> Order</a>
      </li>
      <li>
        <a routerLink="users"><i class="pi pi-users"></i> Users</a>
      </li>
      <li>
        <a routerLink="logout"><i class="pi pi-sign-out"></i> Log out</a>
      </li>
    </ul>
  </div>
</div>
